# %run "librairies.ipynb"

In [2]:
import networkx as nx

In [4]:
users = pd.read_csv("data/users.csv", sep=";")

/home/tk/.virtualenvs/notebook/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (4,23) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [5]:
users.count()

Unnamed: 0           33699
_cls                 20862
_id                  33699
about                  662
active               33681
apikey                1091
avatar                2806
avatar_url           20960
confirmed_at         32752
created_at           33699
current_login_at     19966
current_login_ip     19966
deleted                280
email                33699
ext                  33699
extras               33620
first_name           33699
last_login_at        32680
last_login_ip        11919
last_name            33692
login_count          19966
metrics              33699
password             33356
prefered_language      183
roles                33699
slug                 33698
website                940
dtype: int64

In [8]:
users.ext.describe()

count     33699
unique        1
top          {}
freq      33699
Name: ext, dtype: object

In [9]:
follow = pd.read_csv("data/follow.csv", sep=";")

In [10]:
follow.head()

,Unnamed: 0,_id,follower,following,since,until
0,0,55fac2abc751df13d9adaa2a,5450aff7c751df79a55a81f0,"{'_cls': 'Dataset', '_ref': DBRef('dataset', O...",2015-09-17 15:39:55.329,NaN
1,1,55fac80ec751df1cdcadaa2a,5450aff7c751df79a55a81f0,"{'_cls': 'Dataset', '_ref': DBRef('dataset', O...",2015-09-17 16:02:54.801,2015-09-18 16:24:00.395
2,2,55fac296c751df13d5adaa2a,5450aff7c751df79a55a81f0,"{'_cls': 'Organization', '_ref': DBRef('organi...",2015-09-17 15:39:34.852,2015-09-17 16:03:38.723
3,3,55fbe15a88ee383a6fcda4f3,5417d74aa3a7294af4493dd3,"{'_cls': 'Dataset', '_ref': DBRef('dataset', O...",2015-09-18 12:03:06.720,NaN
4,4,55fbed12c751df4a59afe496,5594034bc751df54b8a453b9,"{'_cls': 'Dataset', '_ref': DBRef('dataset', O...",2015-09-18 12:53:06.851,NaN

In [11]:
follow.count()

Unnamed: 0    23912
_id           23912
follower      23912
following     23912
since         23912
until          4382
dtype: int64

In [19]:
import datetime
from bson import ObjectId, DBRef

str(eval(follow.iloc[0].following)['_ref'].id)

'53699940a3a729239d2051d4'